*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration-style: none;

    /* padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000; */
}

:root{
    /* --bg-color: #10101a;
    --main-color: #2fbf71; 
    --2nd-main-color: #0c6627;
    --3rd-main-color: #021f08; */
    --bg-color: #10101a;
    --main-color: #c80000; 
    --2nd-main-color: #660c0c;
    --3rd-main-color: #161616;
    --4th-main-color: #e0e0e0;
    --black: #000000;
    --text-color: #fff; 
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body{
    /* background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden; */
    background: #d7d7d7; 
    color: var(--text-color);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.foreground{
    background-color: #fff;
}

/* Header */

/* end navbar */

/* Home */
.national{
    background-color: #f5f5f5;
}
.garis{
    border-top: 1px solid red;
}
.category-div{
    padding: 20px 200px 0 200px;
}
.category{
    color: #000000;
    background-color: #f5f5f5;

    border-bottom: 3px solid red;
}
.garismerah{
    height: 15px;
    background-color: var(--main-color);
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/home/bg-gunung.jpg);
    background-size: cover;
    z-index: -9999;
}
#text{
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    z-index: -10000;
    /* z-index: 1000; */
    /* z-index: 1000;
    text-align: center;
    padding-top: 40vh;
    color: var(--main-color);
    font-size: 100px; */

}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.awan2{
    height: auto;
    width: 100px;
}
.awan1{
    left: 10px;
}
.sec{
    position: relative;
    background: white;
    padding: 100px;
}
.about{
    /* background: var(--main-color);
    position: relative;
    padding: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 300px;
    z-index: 1001; */
    /* height: 100vh; */
}
.sec2{
    background: #fff;
    position: relative;
}
.sec3{
    background: #fff;
    z-index: 1003;
    position: relative;
    height: 100vh;
    color: #161616;
    
}
.wave{
    background: #fff;
    z-index: 1000;
}
.seemore{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 50px;
}
/* End Home */

/* Image Slider */
.imageslider{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.slide{
    width: 500%;
    height: 500px;
    display: flex;

}
.slide input{
    display: none;

}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.m-btn:not(:last-child){
    margin-right: 30px;

}
.m-btn:hover{
    background-color: var(--main-color);
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;

}
.nav-auto div{
    border: 3px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;

}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: var(--main-color);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: var(--main-color);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: var(--main-color);
}

/* End Image Slider */



@media (max-width: 830px){
    header{
        position: fixed;
        top: -120px;   
    }
    #menu-icon{
        display: block;
        position: absolute;
        right: 10%;
    }
    nav{
        position: relative;
        height: 100%;
        top: -510px;
        left: -200px;
        transition: .2s ease;
    }
    nav a{
        border-left: 2px soli var(--main-color);
        margin: .5rem;
        color: var(--text-color);
        font-weight: 00;
        width: 100%;

    }
    nav.active{
        top: 160px;

    }
    
    nav a:hover{
        background: var(--main-color);
        border-radius: 10px;
        transition: 0.3s;
        width: 190px;
        position: relative;
    }
    nav .animation{
        display: none;
    }
}



  
  